@import "../fonts/style";

// Font
$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial,
  sans-serif;
$font-size: 32px;

// Theme
$primary-text-color: #333;
$secondary-text-color: #666;
