@font-face {
  font-family: "HanSansN";
  src: url("../../fonts/SourceHanSansCN-Normal.otf");
}

@font-face {
  font-family: "HanSansR";
  src: url("../../fonts/SourceHanSansCN-Regular.otf");
}

@font-face {
  font-family: "HanSansH";
  src: url("../../fonts/SourceHanSansCN-Heavy.otf");
}

@font-face {
  font-family: "HuangYou";
  src: url("../../fonts/huangyouziti.ttf") format("truetype");
}

@font-face {
  font-family: "XiNiu";
  src: url("../../fonts/XiNiu.ttf") format("truetype");
}
